<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>Document</title>
</head>

<body>

  <div id="div-get">
    <button>Get</button>
    <br>
  </div>

  <div id="div-post">
    <button >Post</button>
    <input type="text">
    <br>
  </div>

  <div id="div-del">
    <button >Delete</button>
    <input type="text">
    <br>
  </div>

  <div id="div-put">
    <button >Put</button>
    <input type="text" placeholder="new fruit">
    <input type="text" placeholder="to replace">
  </div>

  <div class="display">

  </div>

  <script src="/js/index.js"></script>
</body>

</html>